.multisig-proposals {
  .btn-proposal-new {
    position: absolute;
    right: 20px;
    margin-top: -41px;
    padding: 4px 10px;
    font-size: 13px;
    z-index: 100;
  }

  .coin-send-form,
  .coin-send-form > div {
    padding-left: 0;
    padding-right: 0;
  }

  .proposal-details {
    padding: 0 30px;
    margin-top: 15px;

    > div {
      padding-bottom: 10px;
    }
    .btn {
      width: 100px;
      padding: 3px 5px;
      margin-top: 5px;
      margin-bottom: 20px;
      font-size: 14px;
    }
  }
}